body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #a0a0a0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 400px;
    width: 90%;
    min-height: 500px;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    position: relative;
    margin-bottom: 100px;
}

.header-bg {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.profile {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.links, .developer {
    padding: 20px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background: #f9f9f9;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    font-weight: bold;
    transition: transform 0.2s, background 0.2s;
}

.link:hover {
    background: #e9e9e9;
    transform: translateY(-2px);
}

.link img {
    width: 20px;
    height: 20px;
}

.developer a {
    text-decoration: none;
    color: #555;
}

.developer a p {
    font-size: 12px;
    color: #888;
}
/* Botón de compartir en la esquina superior derecha */
.share-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: white;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 10px;
    border-radius: 50%;
    cursor: pointer;
}

/* Burbuja de compartir */
.share-bubble {
    position: absolute;
    top: 50px;
    right: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 10px;
}

.share-bubble button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.share-bubble button img {
    width: 20px;
    height: 20px;
}